name: Docker Image Push

on:
  push:
    branches: [ "main" ]
  pull_request:
    

jobs:
  package-docker:
  
      runs-on: ubuntu-latest
  
      steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml
    
         
      - name: Copy artifact
        run: copy /home/runner/work/AddressBookSystem/AddressBookSystem/target/*.jar target/app.jar
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag reece-address-book-system:$(date +%s)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_ACCESS_KEY }}
        
      - name: Docker build
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: mansoorsarfraz/reece-address-book-system:latest,mansoorsarfraz/reece-address-book-system:01
